body {
font-family: "chantal", sans-serif;
font-weight: 600;
font-style: normal;           
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
min-height: 90vh;
background-color: #01110A;
}

.navbar {
display: flex;
justify-content: space-evenly;
background-color: transparent;
width: 100%;
padding: 40px 0;
}

.navbar a {
color: #E8E8E8;
text-decoration: none;
font-size: 20px;
padding: 8px 10px;
}

.navbar a:hover {
background-color: transparent;
color: red;
}

.navbar-logo {
width: 100px;
height: 50px;
}

.logo-link {
margin-top: 2px;
}

.image-container {
display: flex;
flex-wrap: wrap;
text-align: center; 
width: 500px;
height: 200px;
}

.image-container img {
width: 500px;
height: 200px;
}

.image-container p {
font-family: "chantal", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 20pt;
margin-top: 15px;
color: #E8E8E8;
}

.container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
padding: 0px;
}
        
.textbox {
border-radius: 20px;
width: 700px;
height: 205px;
border: transparent;
background-color: #E8E8E8;
overflow-y: scroll;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

pre {
font-family: monospace;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

h1 {
font-family: josefin-sans, sans-serif;
font-weight: 700;
text-align: center;
color: #F1C40F;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
padding-left: 5px;
}

p {
font-family: josefin-sans, sans-serif;
font-weight: 600;
text-align: center;
color: #E8E8E8;
padding-top: 10px;
padding-right: 50px;
padding-bottom: 10px;
padding-left: 50px;
}

.image-row {
display: flex;
flex-wrap: wrap; 
gap: 20px; 
max-width: 100%; 
justify-content: center;
}

.image-item {
text-align: center; 
width: 150px; 
}

.image-item img {
width: 100%; 
height: 150px; 
object-fit: cover; 
border-radius: 5px; 
}

.caption {
font-family: josefin-sans, sans-serif;
font-weight: 600;
margin-top: 10px;
font-size: 14px;
color: #E8E8E8;
}

.wrapper {
display: flex;
flex-direction: column;
min-height: 100vh; 
}

.footer {
text-align: center;
font-size: 10pt;
margin-top: 20px;
margin-bottom: 5px;
color: #E8E8E8;
}